@import "tailwindcss";

:root {
  height: 100vh;
  background: linear-gradient(to top, rgb(98, 51, 0), rgb(255, 0, 230), rgb(0, 255, 68));
  background-attachment: fixed;
}

#oihuhhhh {
  width: 600px;
}

#hope {
  display: flex;
  text-align: center;
  margin: 50px 0 50px 0;
}

#andadarkwindblows {
  content: none;
  overflow-wrap: break-word;
  width: 500px;
  height: 500px;
  font-weight: 300;
  text-align: start;
  color: whitesmoke;
  text-shadow: -1px 1px 5px black;
}

.bloit::before {
  content: " ";
  background-image: url("/robobo.png");
  width: 700px;
  height: 700px;
  background-position: center center;
  background-size: contain;
  box-sizing: border-box;
  position: absolute;
  left: -30px;
  top: -10px
}

.bloit {
  content: none;
  position: relative;
  border: 1px solid white;
}

#loink:hover {
  animation: blunk .2s linear alternate;
}

@keyframes blunk {
  0% {
    color: black;
    margin-top: 0;
    font-weight: 200;
  }
  100% {
    margin-top: 40px;
    color: aqua;
    font-weight: 900;
  }
}

#funnyy {
  padding-left: 5px;
  color: transparent;
  font-weight: 900;
  -webkit-text-stroke: 1px red;
  animation: colorShit .2s linear infinite;
}


#gameTitle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 3px 3px grey;
  font-size: xx-large;
}

#projectTitle {
  text-shadow: 5px 5px 2px green, -5px -5px 2px blue;
  user-select: none;
  color: white;
  font-weight: 900;
  overflow-wrap: break-word;
}

#buton {
  margin: 0 10px 0 10px;
  -webkit-text-stroke: 1px red;
  font-weight: 800;
}

#buton:hover {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-stroke: 1px black;
  color: red;
  font-weight: 900;
}

#containgagmens {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes colorShit {
  0% { 
    background: linear-gradient(to top, rgb(0, 79, 42), rgb(0, 255, 81));
    background-clip: text;
    -webkit-text-stroke: 1px red;
  }
  100% { 
    background: linear-gradient(to top, rgb(79, 0, 0), rgb(255, 0, 0));
    background-clip: text;
    -webkit-text-stroke: 1px lime;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
